{% extends 'alpha/base_page.html' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Uploading your data</h1>

            <p class="govuk-body">
                TODO - guide to data variables
            </p>
            <a href="/data_eg.csv" class="govuk-link govuk-!-font-weight-bold" aria-label="View more related content">
                Download CSV
            </a>
        </div>
    </div>
{% endblock %}
