{% extends 'alpha/base_page.html' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-full">
            <h1 class="govuk-panel__title">
                Application Submitted
            </h1>
            <div class="govuk-panel__body">
                <p class="govuk-body">Your account is ready to use and we have logged you in automatically</p>
                <p class="govuk-body govuk-!-font-weight-bold">Next steps
                    <br>
                    <a href="#" class="govuk-link">Submit demographic and eployment data about your workforce</a>
                </p>

            </div>
        </div>
    </div>
{% endblock %}
