{% extends 'alpha/base_page.html' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Application Submitted
                </h1>
                <div class="govuk-panel__body">
                    Your reference number<br><strong>HDJ2123F</strong>
                </div>
            </div>

            <p class="govuk-body">We have sent a confirmation email to <strong>{{ email }}</strong></p>
            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">Our team will review your application to verify that your organisation is eligible for the data collection.</p>
            <p class="govuk-body">This usally takes 7 working days</p>
            <p class="govuk-body">We will then email you with your log in details so you can begin to record data about your workforce.</p>
            <p class="govuk-body"><a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)</p>
        </div>
    </div>
{% endblock %}
