{% extends 'alpha/base_page.html' %}
{% block page_title %}Register{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Which organisation are you registering?
            </h1>
            <form novalidate="1" method="post">
                {% csrf_token %}
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Select from our list of accredited organisations or add your organisation manually.
                        <div id="div_id_address" class="govuk-form-group">
                            <br>
                            <div id="id_address_hint" class="govuk-hint">Enter your organisations name</div>
                        </div>
                        <div id="my-autocomplete-container"></div>
                    </legend>
                </fieldset>
                <p class="govuk-body">
                    <a class="govuk-link" href="#">Add your organisation manually</a>
                </p>
                <input type="submit" name="submit" value="Continue" class="govuk-button" id="submit-id-submit" disabled>
            </form>

        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        function toggleSubmit(flag){
            document.getElementById('submit-id-submit').removeAttribute("disabled");
        }
        var providers = {{ providers|safe }}
        accessibleAutocomplete({
            element: document.querySelector('#my-autocomplete-container'),
            id: 'my-autocomplete', // To match it to the existing <label>.
            source: providers,
            onConfirm: () => {
                toggleSubmit()
            },
        });

    </script>
{% endblock %}
