<h3 class="govuk-heading-s">Organisation summary</h3>
<p class="govuk-body">
    <ul class="govuk-list govuk-list--bullet">
        <li><strong>Organisation name:</strong> Occupational Health For All</li>
        <li><strong>Record created:</strong> 19 2 2022</li>
        <li><strong>Organisation size:</strong> Medium (50-249)</li>
        <li><strong>Questions answered:</strong> 4 of 5</li>
        <li><strong>Next review due:</strong> 23 2 2023</li>
    </ul>
</p>
<p class="govuk-body">
    <button class="govuk-button" data-module="govuk-button">
        View
    </button>
</p>
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            Organisation data submitted
        </h3>
        <p class="govuk-body"><a class="govuk-notification-banner__link" href="#">Add staff details</a></p>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
