{% extends "alpha/base_page.html" %}

{% block content %}

    <div class="govuk-grid-column-full gov-inverse-header govuk-!-padding-9 govuk-!-margin-bottom-9">
        <h1 class="govuk-heading-xl">Workforce intelligence for occupational health in England.</h1>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-s">Find workforce data for England</h2>
            <p><a class="govuk-link" href="#">Workforce summary</a></p>
            <p>Headline report for the occupational workforce in 2022.</p>
            <p><a class="govuk-link" href="#">Workforce statistics</a></p>
            <p>Demographic and employment data.</p>
        </div>
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-s">Submit your workforce data</h2>
            <p><a class="govuk-link" href="#">Register as a provider</a></p>
            <p>Create an account for your occupational health provision.</p>
            <p><a class="govuk-link" href="#">Update your data</a></p>
            <p><a class="govuk-link" href="#">Check your eligibility</a></p>
            <p>Demographic and employment data.</p>

        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-grid-column-one-third footer-block govuk-!-padding-3">
            <h2 class="govuk-heading-s">Benefits</h2>
            <p>Further information on the benefits of providing occupational health workforce data</p>
        </div>
        <div class="govuk-grid-column-one-third footer-block govuk-!-padding-3">
            <h2 class="govuk-heading-s">Data privacy</h2>
            <p>Guidance on the occupational health workforce dataset General Data Protection Regulation (GDPR) compliance</p>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-padding-3">
            <h2 class="govuk-heading-s">How we use data</h2>
            <p><a class="govuk-link" href="#">Planning, funding and monitoring</a> the sector. </p>
            <p><a class="govuk-link" href="#">Benchmarking</a> cost, skills, qualifications and staffing.</p>
        </div>
    </div>
{% endblock %}
<p><a class="govuk-link" href="#">Workforce summary</a></p>
