{% extends 'alpha/base_page.html' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">
                How many vacancies does your organisation have for the following roles? (optional)
            </h1>
            <p class="govuk-body">
                you have selected the following roles:
                <ul class="govuk-list govuk-list--bullet">
                    {% for role in roles %}
                        <li>{{ role.0 }} x {{ role.1 }}</li>
                    {% endfor %}
                </ul>
            </p>
        </div>
    </div>

{% endblock %}
