{% extends 'alpha/base_page.html' %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block content %}
    <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-l">Check your answers</h1>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        How many staff does your organisation employee for the following roles? (optional)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <ul class="govuk-list">
                            <li>Clinical psychologist with OH specialism (3)</li>
                            <li>Doctor with other OH qualifications (1)</li>
                            <li>Nurse registered with OH specialism (5)</li>
                            <li>Nurse training towards OH specialism (3)</li>
                            <li>Nurse with other OH qualifications (2)</li>
                        </ul>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> staff</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        How many vacancies does your organisation have for the following roles? (optional)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Clinical psychologist with OH specialism (1)
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> vacancies</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Which option best describes you or your organisation?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Occupational Health provider embedded within private organisation
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> organisation description</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What occupational health services does your organisation provide?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <ul class="govuk-list">
                            <li>Screening services</li>
                            <li>Injury rehabilitation</li>
                            <li>Management referrals, sickness absence</li>
                        </ul>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> services provided</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Which regions does your organisation provide occupational health services in?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <ul class="govuk-list">
                            <li>Eastern</li>
                            <li>East Midlands</li>
                            <li>London</li>
                            <li>South East</li>
                            <li>South West</li>
                            <ul>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> regions</span>
                                </a>
                            </dd>
                        </div>
                    </dl>

                    <a href="{% url 'dashboard:home' %}?org_data=True" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        Accept and continue
                    </a>
                </div>

{% endblock %}
