{% load static %}

<!DOCTYPE html>
<html lang="en" class="govuk-template ">
    <head>
        {# TODO fallbacks if page is not defined e.g. for 404 page #}
        <meta charset="utf-8" />
        <title>{% block title_prefix %}{% endblock %}</title>
        <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% else %}{{ page.listing_summary }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="theme-color" content="#0b0c0c">

        {% comment %}
            Set "noindex" if the site is not being requested on a configured
            domain to prevent search engines crawling admin domains.
            This ignores ports for simplicity.
        {% endcomment %}
        {% if SEO_NOINDEX %}
            <meta name="robots" content="noindex">
        {% endif %}

        {% block meta_tags %}{% endblock %}

        <!--[if !IE 8]><!-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <!--<![endif]-->

        {% block extra_css %}{% endblock %}
    </head>

    <body class="govuk-template__body ">
        <script>
            document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
        </script>
        {% block body_top %}{% endblock %}


        {% block header %}{% endblock %}

        <div class="govuk-width-container ">
            <main class="govuk-main-wrapper " id="main-content" role="main">

                {% block page_title %}
                {% endblock%}

                {% block content %}
                {% endblock %}

            </main>
        </div>

        {% block footer %}{% endblock %}

        <script src="{% static 'js/main.js' %}"></script>

        {% block extra_js %}{% endblock %}
    </body>
</html>
